.block_featured_courses .course-image {
    background-size: cover;
    height: 70%;
    width: 100%;
}
.block_featured_courses .thumbnail {
    height: 300px;
}
.block_featured_courses .link i {
    width: 24px;
    height: 24px;
}

/* To fix oval button. */
.block_featured_courses .circle-btn {
    width: 2rem;
    height: 2rem;
}